---
---

@import "{{ site.theme }}";

.inner {
	max-width:760px !important;
}

.outer {
	color:#fff;
	background-color:#4a4a4a;
	background-image:linear-gradient(90deg, #4a4a4a, #4a4a4a);
}
