---
---

@import "{{ site.theme }}";

.inner {
	max-width:760px !important;
}

#header_wrap, #footer_wrap {
	color:#fff;
	background-color:#333333;
	background-image:linear-gradient(90deg, #333333, #333333);
}

//lightbox:
img {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	border: none;
}
