---
---

@import "{{ site.theme }}";

.inner {
	max-width:760px !important;
}

#header_wrap, #footer_wrap {
	color:#fff;
	background-color:#333333;
	background-image:linear-gradient(90deg, #333333, #333333);
}
